// body {
//   background-image: url("/src/assets/design-assets/bg.png");
//   // backdrop-filter: 0;
//   background-position: center;
//   background-size: cover;
//   // background: no-repeat;
//   background-repeat: no-repeat;
//   // width: ;
//   align-items: center;
//   // text-align: ;
//   // align: center;
// }

#content-01 {
  padding-top: 8em;
  padding-left: 7.5em;
  float: left;
  background-color: rgb(230, 230, 230);
  height: 20em;
  width: 60em;
  // filter: opacity(20%);
  position: relative;
}

#techy-image {
  margin: 0;
  float: right;
  position: relative;
  filter: blur(0.8px);
  cursor: inherit;
}

#bg-rect {
  float: right;
  // padding-top: 1em;
  // padding-right: 0em;
  width: 18em;
  position: absolute;
}

#human-image {
  float: right;
  position: relative;
  width: 250px;
  // padding-left: 100em;
  // padding-right: 100em;
}

#about-me {
  padding-top: 8em;
  padding-left: 8em;
  float: left;
}

#about-me-desc {
  padding-top: 10px;
  color: rgb(117, 117, 117);
}

// #education-content {
//   background-color: teal;
// }

// #education-sub-content {
//   background-color: black;
// }

// #edu-title {
//   padding-top: 0px;
// }

#education-content {
  // padding-top: 13em;
  // // padding-left: 8em;
  // padding-right: 8em;
  // // float: right;
  // float: left;
  padding-top: 8em;
  padding-left: 8em;
  float: left;
}

#college-details {
  padding-top: 2em;
}

#school-details {
  padding-top: 6em;
}
#college-website-link {
  color: rgb(6, 0, 88);
  font-weight: bold;
  font-size: 14px;
  font-stretch: extra-expanded;
  font-family: 'Montserrat';
  float: left;
  padding-top: 2em;
  cursor: pointer;
}

#school-website-link {
  color: rgb(6, 0, 88);
  font-weight: bold;
  font-size: 14px;
  font-stretch: extra-expanded;
  font-family: 'Montserrat';
  float: left;
  padding-top: 2em;
  cursor: pointer;
}

#skills-content {
  padding-top: 46em;
  padding-left: 8em;
  float: right;
  padding-right: 12em;
}

#skill-cpp {
  padding-top: 2em;
}

#skill-python {
  padding-top: 2em;
}

#skill-ui-design {
  padding-top: 2em;
}

#skill-web-frontend {
  padding-top: 2em;
}

#tools {
  padding-top: 98em;
  padding-left: 8em;
  // float: right;
  padding-right: 12em;
}

#tool-01 {
  padding-top: 2em;
}

#tool-02 {
  padding-top: 2em;
}

#tool-03 {
  padding-top: 2em;
}

#experience-section {
  padding-top: 16em;
  padding-left: 8em;
}

#job-desc {
  padding-top: 2em;
  color: rgb(61, 61, 61);
}

#work-exp-01 {
  padding-top: 1.4em;
}

#hobbies-section {
  padding-top: 8em;
  padding-left: 8em;
}

#hobby-01 {
  padding-top: 2em;
}

#hobby-02 {
  padding-top: 2em;
}

#hobby-03 {
  padding-top: 2em;
}

#contact-details-section {
  padding-top: 8em;
  padding-left: 8em;
  padding-bottom: 10em;
}

#email-address-section {
  padding-top: 2em;
}

#phone-number-section {
  padding-top: 2em;
}

#geo-location-section {
  padding-top: 2em;
}

#linkedin-profile-section {
  padding-top: 2em;
}

#linkedin-profile {
  cursor: pointer;
}

#more-contact-details-button {
  color: rgb(6, 0, 88);
  font-weight: bold;
  font-size: 14px;
  font-stretch: extra-expanded;
  font-family: 'Montserrat';
  float: left;
  padding-top: 2em;
  cursor: pointer;
}

// #footer-container-01 {
//   // float: inherit;
// }

// #footer-container-02 {
//   // padding-left: 50em;
//   // text-align: left unset;
//   // position: fixed;
// }

#home-option {
  cursor: pointer;
}

#projects-option {
  cursor: pointer;
}

#resume-option {
  cursor: pointer;
}

#contact-option {
  cursor: pointer;
}

#settings-option {
  cursor: pointer;
}

#linkedin-option {
  cursor: pointer;
}

#instagram-option {
  cursor: pointer;
}

#whatsapp-option {
  cursor: pointer;
}

#twitter-option {
  cursor: pointer;
}

#reddit-option {
  cursor: pointer;
  position: absolute;
}

#bottom-tagline {
  text-align: center;
  padding-top: 1em;
}

#tagline-text {
  color: rgb(206, 206, 206);
  font-family: 'Open Sans';
  text-align: center;
  font-weight: lighter;
  text-decoration: none;
}
